In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

C:\Users\carniato\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323,47.703,1,1307,1307,3502005,Matched,Intersection,37475.000,...,Wet,Daylight,NaN,nan,NaN,10,Entering at angle,0,0,N
1,1,-122.347,47.647,2,52200,52200,2607959,Matched,Block,nan,...,Wet,Dark - Street Lights On,NaN,6354039.000,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.335,47.608,3,26700,26700,1482393,Matched,Block,nan,...,Dry,Daylight,NaN,4323031.000,NaN,32,One parked--one moving,0,0,N
3,1,-122.335,47.605,4,1144,1144,3503937,Matched,Block,nan,...,Dry,Daylight,NaN,nan,NaN,23,From same direction - all others,0,0,N
4,2,-122.306,47.546,5,17700,17700,1807429,Matched,Intersection,34387.000,...,Wet,Daylight,NaN,4028032.000,NaN,10,Entering at angle,0,0,N

In [3]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000,189339.000,189339.000,194673.000,194673.000,194673.000,65070.000,194673.000,194673.000,194673.000,194673.000,194673.000,194673.000,114936.000,194673.000,194673.000
mean,1.299,-122.331,47.620,108479.365,141091.456,141298.811,37558.451,1.299,2.444,0.037,0.028,1.921,13.868,7972521.337,269.401,9782.452
std,0.458,0.030,0.056,62649.723,86634.403,86986.542,51745.990,0.458,1.346,0.198,0.167,0.631,6.869,2553533.452,3315.776,72269.257
min,1.000,-122.419,47.496,1.000,1001.000,1001.000,23807.000,1.000,0.000,0.000,0.000,0.000,0.000,1007024.000,0.000,0.000
25%,1.000,-122.349,47.576,54267.000,70383.000,70383.000,28667.000,1.000,2.000,0.000,0.000,2.000,11.000,6040014.750,0.000,0.000
50%,1.000,-122.330,47.615,106912.000,123363.000,123363.000,29973.000,1.000,2.000,0.000,0.000,2.000,13.000,8023022.500,0.000,0.000
75%,2.000,-122.312,47.664,162272.000,203319.000,203459.000,33973.000,2.000,3.000,0.000,0.000,2.000,14.000,10155010.250,0.000,0.000
max,2.000,-122.239,47.734,219547.000,331454.000,332954.000,757580.000,2.000,81.000,6.000,2.000,12.000,69.000,13072024.000,525241.000,5239700.000

In [4]:
df['ROADCOND'].isna().sum()

5012